.width100 {
  display: flex;
  width: 100%;
}

.margin0-10 {
  margin: 0px 10px;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.table-container {
  height: 400px;
  overflow-y: auto;
}

.score-card {
  display: flex;
  border: 1px solid #c6c6c6;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 4px;

}

.flex-context-around {
  display: flex;
  justify-content: space-between;
}

.theme-conatiner {
  display: flex;
}

.keyboard-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  margin: 3rem 0rem;
  border: 1px solid #c6c6c6;
}


.App-link {
  color: #bbbbbb;
}

.width-100 {
  width: 100%;
}

.child-container {
  display: flex;
}

.width-17 {
  width: 17rem;
}

.filter-form {
  width: 100%;
  display: flex;
  margin: 20px;
}

